{% extends 'base.html' %}

{% block content %}

<h1 style="display: flex;">Movimentações - <form id="formData" action="/movimentacoes/diarias"><input type="date" id="date" name="date" value="{{ data }}"></form></h1>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="saidas-tab" data-bs-toggle="tab" data-bs-target="#saidas-tab-pane" type="button" role="tab" aria-controls="saidas-tab-pane" aria-selected="true">Saidas</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="entradas-tab" data-bs-toggle="tab" data-bs-target="#entradas-tab-pane" type="button" role="tab" aria-controls="entradas-tab-pane" aria-selected="false">Entradas</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="saldo-tab" data-bs-toggle="tab" data-bs-target="#saldo-tab-pane" type="button" role="tab" aria-controls="saldo-tab-pane" aria-selected="false">Saldo diário</button>
  </li>
</ul>


<div class="tab-content" id="myTabContent">
  
<div class="tab-pane fade show active" id="saidas-tab-pane" role="tabpanel" aria-labelledby="saidas-tab" tabindex="0">
<div class="container mt-5">
    <div class="table-responsive">

        <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Nome</th>
                <th scope="col">Refeição</th>
                <th scope="col">Unidade</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Observação</th>
                <th scope="col">Responsavel</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
          {% for refeicao in saidas.keys() %}
            {% for saida in saidas[refeicao] %}
                <tr>
                  <td>{{ produtos[saida.produto_id].codigo }}</td>
                  <td>{{ produtos[saida.produto_id].nome }}</td>
                  <td>{{ refeicao }}</td>
                  <td>{{ produtos[saida.produto_id].unidade }}</td>
                  <td>{{ saida.quantidade }}</td>
                  <td>{{ saida.observacao }}</td>
                  <td>{{ usuarios[saida.usuario_id] }}</td>
                  <td>
                    {% if dia != None %}
                      {% if dia.fechado == False %}
                      <div style="display: flex; gap: 10px;">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editSaidaModal" onclick="fillSaidaEditForm('{{saida.id}}', '{{saida.produto_id}}', '{{saida.destino}}', '{{saida.data_saida}}', '{{saida.quantidade}}')">Editar</button>
                        <form action="{{ url_for('saidas.excluir_saida', saida_id=saida.id) }}" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir esta saida?')">
                          <button type="submit" class="btn btn-danger">Excluir</button>
                        </form>
                      </div>
                      {% endif %}
                    {% endif %}
                  </td>
                </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
</table>
</div>
</div>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addSaidaModal" style="margin: 10px;">
  Cadastrar nova saida
</button>
</div>

<div class="tab-pane fade" id="entradas-tab-pane" role="tabpanel" aria-labelledby="entradas-tab" tabindex="0">

<div class="container mt-5">
    <div class="table-responsive">

        <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Nome</th>
                <th scope="col">Unidade</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Observação</th>
                <th scope="col">Responsavel</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
          {% for entrada in entradas %}
          <tr>
              <td>{{ produtos[entrada.produto_id].codigo }}</td>
              <td>{{ produtos[entrada.produto_id].nome }}</td>
              <td>{{ produtos[entrada.produto_id].unidade }}</td>
              <td>{{ entrada.quantidade }}</td>
              <td>{{ entrada.observacao }}</td>
              <td>{{ usuarios[entrada.usuario_id] }}</td>
              <td>
                {% if dia != None %}
                  {% if dia.fechado == False %}
                  <div style="display: flex; gap: 10px;">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editEntradaModal" onclick="fillEntradaEditForm('{{entrada.id}}', '{{entrada.produto_id}}', '{{entrada.data_entrada}}', '{{entrada.quantidade}}')">Editar</button>
                    <form action="{{ url_for('entradas.excluir_entrada', entrada_id=entrada.id) }}" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir esta entrada?')">
                      <button type="submit" class="btn btn-danger">Excluir</button>
                    </form>
                  </div>
                  {% endif %}
                  {% endif %}
              </td>
          {% endfor %}
          </tbody>
</table>
</div>
</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addEntradaModal" style="margin: 10px;">
  Cadastrar nova entrada
</button>
</div>
<div class="tab-pane fade" id="saldo-tab-pane" role="tabpanel" aria-labelledby="saldo-tab" tabindex="0">

<div class="container mt-5">
    <div class="table-responsive">

        <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Produto</th>
                <th scope="col">Quantidade inicial</th>
                <th scope="col">Quantidade entrada</th>
                <th scope="col">Quantidade saida</th>
                <th scope="col">Quantidade final</th>
            </tr>
        </thead>
        
        <tbody>

            {% for saldo in saldos_diarios %}
                <tr>
                    <td scope="row">{{ produtos[saldo.produto_id].codigo }}</td>
                    <td>{{ produtos[saldo.produto_id].nome }}</td>
                    <td>{{ saldo.quantidade_inicial }}</td>
                    <td>{{ saldo.quantidade_entrada }}</td>
                    <td>{{ saldo.quantidade_saida }}</td>
                    <td>{{ saldo.quantidade_final }}</td>
            </tr>
            {% else %}
                <p>Ainda não há lançamentos para esse dia</p>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>

<a type="button" class="btn btn-primary" href="{{ url_for('fechar_dia', data=data) }}">Fechar dia</a>
</div>
</div>



<div class="modal fade" id="addSaidaModal" tabindex="-1" aria-labelledby="addSaidaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    <form action="{{ url_for('saidas.cadastro_saida') }}" method="POST">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addSaidaModalLabel">Adicionar saida</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
            <div class="mb-3">
                <label for="produto_id" class="form-label">Produto</label>
                <select id="produto_id" name="produto_id" class="form-select">
                    {% for produto_id, produto in produtos.items() %}
                        <option value="{{ produto_id }}">{{ produto.nome }}</option>
                    {% else %}
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label for="destino" class="form-label">Destino</label>
                <select id="destino" name="destino" class="form-select">
                    {% for destino in ['Café da manhã', 'Lanche da manhã', 'Almoço', 'Lanche da tarde', 'Jantar', 'Ceia', 'Outros'] %}
                        <option value="{{ destino }}">{{ destino }}</option>
                    {% else %}
                    {% endfor %}
                </select>
            </div>
            
            <div class="mb-3">
                <label for="data_saida" class="form-label">Data</label>
                <input id="data_saida" name="data_saida" type="date" class="form-control" value="{{ data }}" required>
            </div>
            
            <div class="mb-3">
                <label for="quantidade" class="form-label">Quantidade</label>
                <input id="quantidade" name="quantidade" type="number" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="observacao" class="form-label">Observação</label>
                <input id="observacao" name="observacao" type="text" class="form-control">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary">Adicionar</button>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="addEntradaModal" tabindex="-1" aria-labelledby="addEntradaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    <form action="{{ url_for('entradas.cadastro_entrada') }}" method="POST">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addEntradaModalLabel">Adicionar entrada</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
            <div class="mb-3">
                <label for="produto_id" class="form-label">Produto</label>
                <select id="produto_id" name="produto_id" class="form-select">
                    {% for produto_id, produto in produtos.items() %}
                        <option value="{{ produto_id }}">{{ produto.nome }}</option>
                    {% else %}
                    {% endfor %}
                </select>
            </div>
            
            <div class="mb-3">
                <label for="data_entrada" class="form-label">Data</label>
                <input id="data_entrada" name="data_entrada" type="date" class="form-control" value="{{ data }}" required>
            </div>
            
            <div class="mb-3">
                <label for="quantidade" class="form-label">Quantidade</label>
                <input id="quantidade" name="quantidade" type="number" class="form-control" required>
            </div>

            
            <div class="mb-3">
                <label for="observacao" class="form-label">Observação</label>
                <input id="observacao" name="observacao" type="text" class="form-control">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary">Adicionar</button>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="editSaidaModal" tabindex="-1" aria-labelledby="editSaidaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    <form id="editSaidaForm" method="POST">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editSaidaModalLabel">Editar saida</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
            <div class="mb-3">
                <label for="edit_produto_id_saida" class="form-label">Produto</label>
                <select id="edit_produto_id_saida" name="edit_produto_id_saida" class="form-select">
                    {% for produto_id, produto in produtos.items() %}
                        <option value="{{ produto_id }}">{{ produto.nome }}</option>
                    {% else %}
                    {% endfor %}
                </select readonly>
            </div>

            <div class="mb-3">
                <label for="edit_destino_saida" class="form-label">Destino</label>
                <select id="edit_destino_saida" name="edit_destino_saida" class="form-select">
                    {% for destino in ['Café da manhã', 'Lanche da manhã', 'Almoço', 'Lanche da tarde', 'Jantar', 'Ceia', 'Outros'] %}
                        <option value="{{ destino }}">{{ destino }}</option>
                    {% else %}
                    {% endfor %}
                </select>
            </div>
            
            <div class="mb-3">
                <label for="edit_data_saida" class="form-label">Data</label>
                <input id="edit_data_saida" name="edit_data_saida" type="date" class="form-control" value="{{ data }}" readonly>
            </div>
            
            <div class="mb-3">
                <label for="edit_quantidade_saida" class="form-label">Quantidade</label>
                <input id="edit_quantidade_saida" name="edit_quantidade_saida" type="number" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="edit_observacao_saida" class="form-label">Observação</label>
                <input id="edit_observacao_saida" name="edit_observacao_saida" type="text" class="form-control">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary">Editar</button>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="editEntradaModal" tabindex="-1" aria-labelledby="editEntradaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    <form id="editEntradaForm" method="POST">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editEntradaModalLabel">Editar entrada</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
            <div class="mb-3">
                <label for="edit_produto_id_entrada" class="form-label">Produto</label>
                <select id="edit_produto_id_entrada" name="edit_produto_id_entrada" class="form-select">
                    {% for produto_id, produto in produtos.items() %}
                        <option value="{{ produto_id }}">{{ produto.nome }}</option>
                    {% else %}
                    {% endfor %}
                </select readonly>
            </div>
            
            <div class="mb-3">
                <label for="edit_data_entrada" class="form-label">Data</label>
                <input id="edit_data_entrada" name="edit_data_entrada" type="date" class="form-control" value="{{ data }}" readonly>
            </div>
            
            <div class="mb-3">
                <label for="edit_quantidade_entrada" class="form-label">Quantidade</label>
                <input id="edit_quantidade_entrada" name="edit_quantidade_entrada" type="number" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="edit_observacao_entrada" class="form-label">Observação</label>
                <input id="edit_observacao_entrada" name="edit_observacao_entrada" type="text" class="form-control">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary">Editar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
    const campoData = document.getElementById('date');

    campoData.addEventListener('change', function() {
        document.getElementById('formData').submit();
    })

    function fillSaidaEditForm(id, produto_id, destino, data, quantidade) {
        document.getElementById("edit_produto_id_saida").value = produto_id;
        document.getElementById("edit_destino_saida").value = destino;
        document.getElementById("edit_data_saida").value = data;
        document.getElementById("edit_quantidade_saida").value = quantidade;

        document.getElementById("editSaidaForm").action = "{{ url_for('saidas.editar_saida', saida_id=0) }}".replace('0', id);
    }

    function fillEntradaEditForm(id, produto_id, data, quantidade) {
        document.getElementById("edit_produto_id_entrada").value = produto_id;
        document.getElementById("edit_data_entrada").value = data;
        document.getElementById("edit_quantidade_entrada").value = quantidade;

        document.getElementById("editEntradaForm").action = "{{ url_for('entradas.editar_entrada', entrada_id=0) }}".replace('0', id);
    }


</script>

{% endblock %}